* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#header {
  padding: 10px;
  background-color: rgb(45, 133, 133);
  color: white;
}

#container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Adiciona quebra de linha quando não há mais espaço */
}

#container p {
  font-size: 16px; /* Define um tamanho de fonte padrão para os parágrafos dentro de container */
}

#qtde-unica {
  flex-basis: 30%; /* Define a largura base como 30% da largura do container */
  text-align: center;
  background-color: rgb(45, 133, 133);
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  margin: 10px;
  color: white;
  cursor: pointer;
  border-right: 5px solid rgb(90, 5, 20);
}

/* Regra de mídia para tornar o design responsivo */
@media screen and (max-width: 768px) {
  #qtde-unica {
    flex-basis: 45%; /* Reduz a largura para 45% quando a largura da tela é menor que 768px */
  }
}

#container-data {
  background-color: rgb(238, 233, 233);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

/* Regra de mídia para tornar o design responsivo */
@media screen and (max-width: 768px) {
  #qtde-unica {
    flex-basis: 45%; /* Reduz a largura para 45% quando a largura da tela é menor que 768px */
  }
}
