* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#header {
  padding: 20px;
  background-color: rgb(239, 241, 241);
  color: white;
}

#container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Adiciona quebra de linha quando não há mais espaço */
}

#container p {
  font-size: 30px; /* Define um tamanho de fonte padrão para os parágrafos dentro de container */
}

#qtde-unica {
  flex-basis: 30%; /* Define a largura base como 30% da largura do container */
  text-align: center;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  height: 120px;
  border: 2px solid rgb(220, 217, 217);
  box-shadow: 2px 2px rgb(192, 197, 197);
}

#qtde-unica:hover {
  font-size: 20px;
}

/* Regra de mídia para tornar o design responsivo */
@media screen and (max-width: 768px) {
  #qtde-unica {
    flex-basis: 45%; /* Reduz a largura para 45% quando a largura da tela é menor que 768px */
  }
}

#container-data {
  background-color: rgb(238, 233, 233);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  line-height: 30px;
  font-size: 12px;
}

#container-data h2 {
  font-size: 16px;
  margin-bottom: 15px;
}

/* Regra de mídia para tornar o design responsivo */
@media screen and (max-width: 768px) {
  #qtde-unica {
    flex-basis: 45%; /* Reduz a largura para 45% quando a largura da tela é menor que 768px */
  }
}

#logo {
  width: 200px;
}

#q1 {
  color: rgb(229, 28, 10);
}

#qu {
  color: rgb(229, 28, 10);
}

#q2 {
  color: rgb(229, 28, 10);
}

#qi {
  color: rgb(229, 28, 10);
}

#q3 {
  color: rgb(53, 118, 238);
}

#qg {
  color: rgb(53, 118, 238);
}

#q4 {
  color: rgb(53, 118, 238);
}

#qm {
  color: rgb(53, 118, 238);
}

#q5 {
  color: rgb(53, 118, 238);
}

#qd {
  color: rgb(53, 118, 238);
}

#q6 {
  color: rgb(53, 118, 238);
}

#qe {
  color: rgb(53, 118, 238);
}

#q8 {
  color: rgb(239, 143, 9);
}

#qc {
  color: rgb(239, 143, 9);
}

#q9 {
  color: rgb(239, 143, 9);
}

#qco {
  color: rgb(239, 143, 9);
}
